.container {
  background-color: #34495e;
  bottom: 0;
  color: #fff;
  left: 50%;
  margin: 2em;
  padding: 1em 2em;
  position: fixed;
  transform: translateX(-50%);
}

.container a {
  color: #fff;
}

.input {
  user-select: all;
}
