:root {
  --color-red: rgba(250, 115, 115, 1);
  --color-gray: #dedede;
  --gradient: linear-gradient(
    120deg,
    var(--color-red) 0%,
    rgba(255, 170, 9, 1) 50%
  );
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 60px auto;
  max-width: 1000px;
  padding: 0 20px 0 50px;
}
