:root {
  --color-gray: #dedede;
  --gradient: linear-gradient(
    120deg,
    rgba(250, 115, 115, 1) 0%,
    rgba(255, 170, 9, 1) 50%
  );
}

body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 60px 70px;
}
